body{
    background: #fff !important;
    font-family: system-ui,sans-serif;
    width: 100%;
    overflow-x:hidden;
    display: block;
      width: 100%;
      
      margin: 0;
      padding: 0;
      /* Add any other styles you need */
  
  }
  
  @media only screen and (max-width:768px){
    .service-boxes {
      display: grid;
      margin-left: 2rem;
      margin-right: 2rem;
      
      grid-template-columns: 1fr;
    }
    
  }
  
  .service-boxes {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr; 
  }
  
  .service-box{
    width: 400px;
    flex-wrap: wrap;
    padding: 20px;
    background-image: url('./img/about_bg_2.png');
    background-size: cover;
    text-align: center;
    transition: all 0.3s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .service-box:hover {
    background-color: #094f7e;
    transform: translateY(-5px);
  }
  
  .service-box i {
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  .service-box h3 {
    margin-bottom: 10px;
    color: #fff;
    font-size: 24px;
  }
  
  .service-box p {
    
    font-family: "Playfair Display", serif;
    font-size: 20px;
    color: #fff;
    margin-bottom: 12px;
  }
  
  
  .about-h4{
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    color: #fff;
    margin-bottom: 12px;
  }
  /* Replace with the actual Font Awesome link */
  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
  
  
  
  /* .main-body-part{}   */
  
  
  header{
    width: 100%;
    z-index: 5000;
    overflow-x: hidden;
    position: sticky;
    top: 0;
    left: 0;
  }
  
  #borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(/img/section_notch_bottom.png) 20% round;
  }
  
  .ad-co-div-h{
    background-color: #ffe6f2;
    display: flex;
    width: auto;
    
  }
  
  .ad-co{
    /* width: 25rem; */
    margin: auto;
    padding: 2rem 2.6rem;
    color: #a6244a;
  }
  
  .ad-co a span{
    
    font-size: 1.2rem;
    font-weight: 530;
    color: #094f7e;
  }
  
  @media only screen and (max-width:480px){
    .ad-co a span.ad-co-3{
      display: none;
    }
  }
  .ad-co a{
    text-decoration: none;
  }
  nav {
    width: 100vw;
    padding: 0 3rem;
    border-radius: 30px;
    position: sticky;
    top: 0;
    left: 0;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: hidden;
    z-index: 2;
    background-color: #a6244a;
  }
  
  .logo img {
    border-radius: 50%;
    width: 5rem;
    height: 5rem; /* Adjust height as needed */
  }
  
  .logo-content{
    display: block;
    width: 28rem;
  }
  .title {
    display: flex;
    flex-wrap: nowrap;
    color: #fff;
    margin: 0 2px;
    font-size: 1.8rem;
    text-align: center;
    justify-content: center;
  }
  
  .sub-title{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    font-size: 1.2rem;
    margin: 0 20px;
   
    color: #f2f2f2;
  }
  .nav-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: justify;
    /* margin-right: 2rem;  */
    margin-left: 120px;
    
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    margin-right:  3rem;
    font-size: 1.3rem;
  }
  .dropdown-menu {
    display: none;
    background-color: #000;
    z-index: 3;
  }
  
  /* Styles for the dropdown links */
  .dropdown-menu li {
    list-style: none;
    color: #000;
    /* Add other styles as needed */
  }
  .fa-bars{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    position: relative;
     right: -300px;
  }
  
  .social-icon img {
    height: 30px; /* Adjust height as needed */
    vertical-align: middle;
  }
  
  .social-icons {
    display: flex;
    flex-wrap: nowrap;
    
    font-size: 1.5rem;
    list-style: none;
    padding: 0;
  }
  .social-icons li {
    display: inline-block;
    margin-right: 1rem;
  }
  
  .fa-facebook , .fa-instagram, .fa-whatsapp{
    color: #fff;
  }
  
  @media screen and (min-width: 1201px) {
    
    .nav-links {
        display: flex;
       
    }
    
    
    #nav-toggle {
        display: none;
    }
  }
  
  
  @media screen and (max-width: 1200px) {
    
    /* .nav-links {
        display: none;
    }
    #nav-toggle {
      float: right;
      margin: 1rem;
  }
    .social-icons{
      display: none;
    } */
  }
  @media(max-width: 567px){
    
  }
  /*****************************
      Login Form
  ******************************/
  .form-login{
      bottom: 45%!important;
  }
  
  
  
  @media screen and (max-width: 992px) {
    
    .nav-links {
        display: none;
    }
    #nav-toggle {
      float: right;
      margin: 1rem;
  }
    .social-icons{
      display: none;
  
    }
  
    .logo img {
      width: 4rem;
      height: 4rem; /* Adjust height as needed */
    }
    
    .logo-content{
      display: block;
      width: 27rem;
    }
    .title {
      display: flex;
      flex-wrap: nowrap;
      color: orange;
      margin: 0 2px;
      font-size: 1.6rem;
      text-align: center;
    }
    
    .sub-title{
      
      font-size: 1rem;
      margin: 0 20px;
      text-align: center;
    }
    .nav-links {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      text-align: justify;
      margin-right: 2rem; 
      margin-left: 2rem;
    }
  }
  
  @media screen and (max-width: 768px) {
    
  #nav-toggle {
    float: right;
    margin: 1rem;
  }
  .social-icons{
    display: none;
  }
    .nav-links {
        display: none;
    }
    #nav-toggle {
      float: right;
      margin: 1rem;
  }
    .social-icons{
      display: none;
    }
    .logo img {
      width: 3rem;
      height: 3rem; /* Adjust height as needed */
    }
  }
  
  @media(max-width: 576px){
    .navbar{
      padding: 0 1rem;
    }
    
  }
  
  @media(max-width: 660px){
    .logo-content{
      width: auto;
    }
  
    .nav-toggle{
      float: right;
    }
    
  }
  
  @media(max-width: 460px){
    .logo{
      width: 100%;
      align-items: center;
      text-align: center;
    }
  
    .logo-content{
      width: 100%;
      
    }
  
    .logo-content .title, .logo-content .sub-title{
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .navbar{
      text-align: center;
      align-items: center;
    }
  }
  @media(max-width: 414px){
    
  }
  
  /*****************************
      Login Form
  ******************************/
  .form-login{
      bottom: 45%!important;
  }
  
  
  
  * {box-sizing:border-box}
  
  
  
  
  
  /* Slideshow container */
  .slideshow-container {
    display: flex;
    padding: 0;
    width: 100%;
    height: 90vh;
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  
  /* Hide the images by default */
  .mySlides {
   width: 100%;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 4rem;
    margin-top: -22px;
    padding:4rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    transition: 3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    background-color: rgba(0, 0, 0, 0.5);
    color: #f2f2f2;
    font-size: 2rem;
    padding: 8px 12px;
    position: absolute;
    top: 0.1%;
    padding-top: 10rem;
    padding-bottom: 5rem;
    padding-right: 4rem;
    padding-left: 4rem;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
  }
  
  .text h5{
    margin: 1rem;
    font-size: 3.2rem;
    font-weight: 700;
  }
  
  .text p{
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 2s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 5s;
  }
  
  @media screen and (max-width: 1200px) {
    .slideshow-container {
     
      position: relative;
      margin: auto;
      overflow: hidden;
    }
  
    .text {
      background-color: rgba(0, 0, 0, 0.5);
      color: #f2f2f2;
      font-size: 1.8rem;
      padding: 8px 12px;
      position: absolute;
      top: 0.1%;
      padding-top: 10rem;
      
      
  }
    
  }
  
  @media screen and (max-width: 992px) {
    .slideshow-container {
      
      width: 100%;
      height: 70vh;
      position: relative;
      margin: 0;
      overflow: hidden;
    }
    
  }
  
  @media screen and (max-width: 768px) {
    .slideshow-container {
     
      width: 100%;
      height: 60vh;
      
      margin: 0;
     
    }
  
    .text {
      background-color: rgba(0, 0, 0, 0.5);
      color: #f2f2f2;
      font-size: 1.3rem;
      position: absolute;
      top: 0.1%;
      padding-top: 10rem;
      padding-bottom: 5rem;
      padding-right: 2rem;
      padding-left: 2rem;
      
  }
  
  .prev, .next {
    
    width: 2rem;
    margin-top: -22px;
    padding:1rem;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    transition: 3s ease;
    border-radius: 0 1px 1px 0;
    user-select: none;
  }
  
  .text p {
    margin: 1rem;
    font-size: 1rem;
    font-weight: 700;
  }
  
  .text h5 {
    margin: 1rem;
    font-size: 2rem;
    font-weight: 600;
  }
  
  .slideshow-container .mySlides img{
    height: 100%;
  }
  }
  
  
  @media(max-width: 576px){
    .slideshow-container {
     
      width: 100%;
      height: 60vh;
      
      margin: 0;
     
    }
  }
  
  
  @media(max-width: 414px){
    .slideshow-container {
    
      width: 100%;
      height: 60vh;
      
      margin: 0;
     
    }
  }
  /* @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  } */
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  
  
  
  .container-about {
    max-width: 100%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
  }
  
  @media only screen and (max-width: 768px) {
    .container-about {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
  
  
  @media only screen and (max-width: 420px) {
    .container-about {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
  .box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .box img {
    width: 100%;
    border-radius: 8px;
  }
  
  .box h4 {
    margin-top: 10px;
    text-align: center;
  }
  
  .container_1 {
    max-width: 100%;
    margin: 20px auto;
    display: grid;
    gap: 20px;
  }
  
  .box_1, .box_2 {
    text-align: left;
    background-color: #eeccff;
    padding: 20px;
    border-radius: 8px;
    border-color: #000000;
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    width: 100%;
  }
  
  .box_1 .box_2 h4{
    margin-top: 10px;
    text-align: center;
  }
  
  .course .box {
    padding: 10px 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
  }
  .course .box img{
    border-radius: 5px;
  }
  .course .box span {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #ffcf88;
  }
  
  /* foooter css */
  
  
  .footer-area {
    position: relative;
    padding: 2rem 1rem;
    overflow-x: hidden;
    background-color: #a6244a;
    
    width: 100%;
  }
  
  @media only screen and (max-width:1000px){
  .sub-fs1{
    justify-content: center;
  }
  }
  
  .row-f{
    display: grid;
    grid-template-columns:  2fr 1fr 2fr;
    overflow-x: hidden;
  }
  
  .footer-area .footer-left .footer-social li a i {
    font-size: 16px;
  } 
  
  .row-f .logo{
   
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .row-f .logo img{
    align-items: center;
    justify-content: center;
  }
  .footer-content{
    list-style-type: none;
    color: #000;
  
  }
  
  .footer-content h2{
    font-weight: 600;
  }
  
  
  .footer-add ul ,.footer-content ul{
    list-style: none; /* Remove default list styles */
      padding: 0;
  }
  .footer-add ul li a,.footer-content ul li a{
    text-decoration: none;
  }
  
  
  .wow li a{
    color: #ffe6f2;
    font-size: 1.1rem;
    padding-bottom: 6px;
  }
  
  .fs{
    font-size: 1.5rem;
    color: #ffe6f2;
  }
  
  .tagline{
    align-content: center;
    justify-content: center;
  }
  
  .fs1{
    font-size: 1.7rem;
    color: #fff;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  .sub-fs1{
    text-align: center;
    justify-content: center;
  }
  
  @media only screen and (max-width:768px) {
    .row-f {
      display: grid;
      grid-template-columns:  1fr ;
      overflow-x: hidden;
  }
  
  .footer-content, .footer-add{
    text-align: center;
    justify-content: center;
    /* padding: 0 2rem; */
  }
  
  .fs{
    font-size: 1.3rem;
  }
  }
  
  @media only screen and (max-width:400px) {
    
    .footer-area {
      
      padding: 2rem 0rem;
      /* overflow-x: hidden; */
      
  }
  
    .footer-add li{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .wow .wow-3 {
      display: none;
    }
  }
  
  
  /*Gallery Css*/
  .gallary-head{
    height: 80vh;
    
    
  }
  .gallery {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-image: url('');
    
    grid-gap: 20px;
    
  }
  
  .gallery-title{
    font-family: "tungstenw05-medium", "Oswald", sans-serif;
    font-size: 4rem;
    line-height: 6rem;
    margin-bottom: 1rem;
    color: #ffa500;
    z-index: 2;
    align-items: center;
  }
  
  .gallery-item {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .gallery-item:hover .overlay {
    opacity: 1;
  }
  
  .overlay h2 {
    
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 10px;
  }
  
  .gallery-item img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /* Media queries for mobile responsiveness */
  @media screen and (max-width: 768px) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-gap: 15px;
    }
  
    .overlay h2 {
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-gap: 10px;
    }
  
    .overlay h2 {
      font-size: 16px;
    }
  }
  
  /* @media screen and (max-width: 480px) {
    .gallery {
      grid-template-columns:1fr;
      grid-gap: 10px;
    }
  
    .overlay h2 {
      font-size: 16px;
    }
  } */
  
  /* cources css */
  
  .main-cont {
    /* background-color: #eeccff;; */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: system-ui;
    /* opacity: 0.6; */
    /* padding-top: 2rem; */
  }
  
  .main-cont1 {
    font-family: system-ui;
    /* opacity: 0.6; */
    padding-top: 2rem;
  }
  
  .cardcomp {
    padding-left: 6rem;
    padding-right: 6rem;
    overflow: hidden;
  }
  
  .cardcomp .row-ca {
    margin-right: -1.5rem;
    margin-left: -1.5rem;
  }
  
  .cardcomp .row .col-ca {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  
  .card-head {
    
    padding: 1rem;
    text-align: center !important;
    margin-bottom: 0.5rem;
  }
  .head-t{
    font-family: "tungstenw05-medium", "Oswald", sans-serif;
    font-size: 4rem;
    line-height: 6rem;
    margin-bottom: 0.2rem;
    margin-top: auto;
    color: #a6244a;
    z-index: 2;
  }
  
  @media only screen and (max-width: 768px){
    .head-t{
      font-size: 3.5rem;
      line-height: 3.5rem;
      margin-bottom: 1rem;
    }
  
    .t-color{
      font-size: 1.2;
    }
  }
  
  @media only screen and (max-width: 768px){
    .head-t{
      font-size: 3.5rem;
      line-height: 3.5rem;
      margin-bottom: 1rem;
    }
  
    .t-color{
      font-size: 1.2rem;
    }
  }
  
  @media only screen and (max-width: 576px){
    .head-t{
      font-size: 3.2rem;
      line-height: 3.2rem;
      margin-bottom: 1rem;
    }
  
    .t-color{
      font-size: 1.1rem;
    }
  }
  @media only screen and (max-width: 400px){
  .head-t {
      font-size: 2.8rem;
      line-height: 3rem;
      margin-bottom: 1rem;
  }
  }
  
  .card-wrapper {
    position: relative;
    font-family: system-ui;
    width: 35rem; /* Set the initial width of the cards */
    height: 20rem; /* Set the initial height of the cards */
    /* transition: all cubic-bezier(0, .95, 1, .66); */
  }
  
  .main-card,
  .hover-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border-radius: 8px; */
    overflow: hidden;
  }
  
  .main-card {
    background-color: #094f7e; /* Set the background color of the main card */
    z-index: 2;
    padding: 10px ;
    font-size: 1rem;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  .hover-card {
    font-family: system-ui;
    background-color:#cce6ff;
    z-index: 1;
    opacity: 0;
    /* Set the height of the hover card */
    transition: all 0.3s ease-in-out;
  }
  
  .card-wrapper:hover .main-card {
    opacity: 0;
  }
  
  .card-wrapper:hover .hover-card {
    z-index: 4;
    opacity: 1;
    transform: scale(1.3, 1.4);
    /* transform: scaleY(2); */
  }
  
  .main-card img {
    margin-top: 10px;
    margin-bottom: 10;
    width: 11rem;
    height: 11rem;
    padding-top: 0.8rem;
  }
  
  
  
  .card-content1, .hover-content {
    padding: 0.2rem;
  }
  
  .hover-content h2 {
    color: #094f7e;
    display: inline-block;
    position: relative;
    font-size: 1.4rem;
    border-bottom: 1.5px solid #2eb82e;
  }
  
  .hover-content p {
    font-size: 1rem;
    color: #094f7e;
  }
  
  .card-container {
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .row-ck {
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .col-ck {
    flex: 0 0 0%; /* Adjust the width of each column */
    width: 100%;
    /* Adjust the maximum width of each column */
    margin: 2rem;
  }
  
  .innercon {
    height: 100%;
    width: 100%;
    /* display: grid; */
    grid-template-columns: 2fr 1fr;
  }
  
  .card-content1 {
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline;
  }
  
  .card-content1 h2 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    color: #fff;
  }
  
  .card-content1 p {
    font-size: 1.5rem;
    color: #666;
  }
  .col-ck {
    width: 100%;
  }
  
  @media only screen and (max-width: 1360px) {
    .card-wrapper {
      width: 26rem;
    }
  }
  @media only screen and (max-width: 1098px) {
    .card-container {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  
    .card-wrapper {
      width: 25rem;
    }
    .main-card img {
      margin-top: 10px;
      width: 9rem;
      height: 9rem;
      padding-top: 0.8rem;
    }
  }
  
  @media only screen and (max-width: 980px) {
    .card-wrapper {
      width: 22rem;
      height: 15rem;
      
    }
  
    .card-content1 h2 {
      margin-top: 0;
      font-size: 2.2rem;
     
  }
  
  .hover-content p {
    margin-top: 0;
    font-size: 0.8rem;
   
  }
  .main-card img {
    margin-top: 0.2rem;
    width: 8rem;
    height: 8rem;
    padding-top: 0.8rem;
  }
  }
  
  @media only screen and (max-width: 840px) {
    .card-wrapper {
      width: 19rem;
      height: 13rem;
      
    }
  
    .card-content1 h2 {
      margin-top: 0;
      font-size: 2.1rem;
     
  }
  .main-card img {
    margin-top: 0.2rem;
    width: 6rem;
    height: 6rem;
    padding-top: 0.7rem;
  }
  .hover-content h2 {
    margin-bottom: 0;
    font-size: 1.2rem;
    border-bottom: 1.5px solid #2eb82e;
  }
  
  .hover-content{
    padding: 0 1rem;
  }
  
  }
  
  
  
  @media only screen and (max-width: 768px){
    .col-ck {
      margin: 0.6rem;
    }
  
    .card-wrapper {
      width: 24rem;
      height: 15rem;
    }
  
    .card-content1 h2 {
      margin-top: 0;
      font-size: 2.1rem;
     
  }
  .main-card img {
    margin-top: 0.2rem;
    width: 8rem;
    height: 8rem;
    padding-top: 0.7rem;
  }
  .hover-content h2 {
    margin-bottom: 0;
    font-size: 1.3rem;
    border-bottom: 1.5px solid #2eb82e;
  }
  
  .hover-content{
    padding: 0 1rem;
  }
  }
  
  @media only screen and (max-width: 500px){
    .col-ck {
      margin: 0.6rem;
    }
  
    .card-wrapper {
      width: 21rem;
      height: 13rem;
    }
  
    .card-content1 h2 {
      margin-top: 0;
      font-size: 2rem;
     
  }
  .main-card img {
    margin-top: 0.2rem;
    width: 6rem;
    height: 6rem;
    padding-top: 0.7rem;
  }
  .hover-content h2 {
    margin-bottom: 0;
    font-size: 1.2rem;
    border-bottom: 1.5px solid #2eb82e;
  }
  
  .hover-content{
    padding: 0 1rem;
  }
  }
  
  @media only screen and (max-width: 430px) {
    .col-ck {
      margin: 0.6rem;
    }
  
    .card-wrapper {
      width: 18rem;
      height: 12rem;
    }
  
    .card-content1 h2 {
      margin-top: 0;
      font-size: 1.9rem;
     
  }
  .main-card img {
    margin-top: 0.1rem;
    width: 6rem;
    height: 6rem;
    padding-top: 0.7rem;
  }
  .hover-content h2 {
    margin-bottom: 0;
    font-size: 1.1rem;
    border-bottom: 1.5px solid #2eb82e;
  }
  
  .hover-content{
    padding: 0 1rem;
  }
  .hover-content p{
    font-size: 0.7rem;
  }
  }
  
  @media only screen and (max-width: 370px) {
    .col-ck {
      margin: 0.6rem;
    }
  
    .card-wrapper {
      width: 16rem;
      height: 14rem;
    }
  
    .card-content1 h2 {
      margin-top: 0;
      font-size: 1.9rem;
     
  }
  .main-card img {
    margin-top: 0.1rem;
    width: 7rem;
    height: 7rem;
    padding-top: 0.7rem;
  }
  .hover-content h2 {
    margin-bottom: 0;
    font-size: 1.1rem;
    border-bottom: 1.5px solid #2eb82e;
  }
  
  .hover-content{
    padding: 0 1rem;
  }
  .hover-content p{
    font-size: 0.7rem;
  }
  }
  
  @media screen and (max-width: 350px) {
    .section3parts-manageservice {
      grid-template-columns: 1fr;
      height: auto;
    }
  
    .sub-title{
      margin: 0 0;
    }
  }
  
  .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    padding: 0rem 2rem;
  }
  
  .row-sk{
    display: grid;
    grid-template-columns: 1fr ;
    column-gap: 2rem;
    padding: 0rem 2rem;
    
    
  }
  
  .col2{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4rem;
  }
  
  .add-city {
    color: #000;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    justify-content: center;
      margin-top: 5%;
      width: 100%;
  }
  
  iframe{
    width:600px;
     height:400px;
      border:0;
  }
  
  @media only screen and (max-width: 768px){
    .row {
      display: grid;
      grid-template-columns: 1fr;
      
      padding: 0.5rem;
    }
  
    .col1{
      width: 100%;
      padding: 1.5rem;
    }
    
    iframe{
      width:600px;
      height:400px;
      border:0;
    }
   }
  
   @media only screen and (max-width: 480px){
    .row {
      display: grid;
      grid-template-columns: 1fr;
      
      padding: 0.5rem;
    }
  
    .col1{
      width: 94%;
      
    }
    
    .col2 iframe{
      width:250px;
      height:200px;
      border:0;
    }
   }
  
   @media only screen and (max-width: 400px){
    .row {
      display: grid;
      grid-template-columns: 1fr;
      
      padding: 0.5rem;
  }
    .row-sk{
      padding: 0 0;
    }
    iframe{
      
      width:200px;
       height:200px;
        border:0;
    }
   }
  
  
   @media only screen and (max-width: 1200px){
    
    iframe{
      
      width:400px;
       height:300px;
        border:0;
    }
   }
   
  
  
  
  
   #myLinks{
    display: none;
    width: 100%;
   }
  
   #myLinks a {
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    
  }
  
  #myLinks a:hover {
    color: #094f7e;
    background-color: #e6fffa;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    
  }
  
  #ico {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .fa-bars{
    color: #e6fffa;
  }
  
  #myLinks a:hover {
    background-color: #e6fffa;
    color: #094f7e;
  }
  
  .fa-bars{
    display: hidden;
  }
  
  @media only screen and (max-width: 1200px){
    .fa-bars{
      display: block;
      /* position: fixed; */
    }
  
    .logo-content{
      display: block;
      /* width: 95%; */
    }
  
  
  }
  
  @media only screen and (min-width: 1250px){
    .fa-bars{
      float: right;
     
      display: none;
      position: fixed;
    }
  }
  
  @media screen and (max-width: 1250px) {
    .nav-links {
      display: none;
  }
  }
  
  @media screen and (max-width: 1300px) {
    .social {
      display: none;
  }
  }
  
  @media screen and (max-width: 930px) {
    .ad-co {
      padding: 2rem 1.2rem;
  }
  }
  
  @media screen and (max-width: 746px) {
    .ad-co {
      padding: 2rem 0.2rem;
  }
  }
  @media screen and (max-width: 746px) {
    .ad-co {
     
      width: 100%;
      padding: 0.3rem 0;
      text-align: center;
  }
  
  .ad-co-div-h{
    
    display: block;
    width: auto;
    
  }
  }
  
  @media screen and (max-width: 746px) {
    .logo-content {
      display: block;
      width: 100%;
      margin-bottom: 10px;
  }
  .navbar{
    justify-content: center;
  }
  .title{
    justify-content: center;
  
  }
  .sub-title{
    justify-content: center;
  }
  
  .fa-bars{
    position: relative;
    right: 0;
  }
  }
  
  @media only screen and (min-width:746px) and (max-width: 880px) {
    .fa-bars{
      
       right: -100px;
    }
  }
  
  
  
  
  /* Base styles for gallery */
  
  .gallery-head{
    height: 80vh;
    
    
  }
  .gallery {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-image: url('');
    
    grid-gap: 20px;
    
  }
  
  .gallery-title{
    font-family: "tungstenw05-medium", "Oswald", sans-serif;
    font-size: 4rem;
    line-height: 6rem;
    margin-bottom: 1rem;
    color: #ffa500;
    z-index: 2;
    align-items: center;
  }
  
  .gallery-item {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .gallery-item:hover .overlay {
    opacity: 1;
  }
  
  .overlay h2 {
    
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 10px;
  }
  
  .gallery-item img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  /* Media queries for mobile responsiveness */
  @media screen and (max-width: 768px) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-gap: 15px;
    }
  
    .overlay h2 {
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .gallery {
      grid-template-columns: (auto-fit, minmax(100px, 1fr));
      grid-gap: 10px;
    }
  
    .overlay h2 {
      font-size: 16px;
    }
  }